<div class="sidebar-widget widget_recent_entries">
	<h3 class="sidebar-header">Recent posts</h3>
	<ul>
		<% @posts.each do |post| %>
	        <li>
	            <div class="post-icon">
	                <% if post.link.present? %>
	                  <i class="fa fa-video-camera"></i>
	                <% else %>
	                  <i class="fa fa-file-text"></i>
	                <% end %>
	            </div>
	            <%= link_to post.title, post %>
	            <small><%= post.created_at.strftime('%A, %B %d') %></small>
	        </li>
	    <% end %>
	</ul>
</div>