<div class="portfolio-share overlay">
  <span class="overlay">Share</span>
  <ul class="list-inline">
      <li>
          <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @project.title %> by @NixMediaGroup - &amp;url=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
              <i class="fa fa-twitter"></i>
          </a>
      </li>
      <li>
          <a onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
              <i class="fa fa-facebook"></i>
          </a>
      </li>
      <li>
          <a onclick="javascript:window.open('http://plus.google.com/share?url=<%= url_for([@project, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
              <i class="fa fa-google-plus"></i>
          </a>
      </li>
  </ul>
</div>