<div id="content" role="main">
    <section class="section swatch-white-blue has-top">
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline hyper hairline">Contact Us</h1>
                <p class="big">Say hello!
                </p>
            </header>
            <%= render 'form' %>
        </div>
    </section>
</div>